<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/addVisitStyle.css">
<script src="js/additional.js"></script>
<title>Dodaj wizyte</title>
</head>

<body>
	<header>
		<a th:href="@{/home.html}"> <img src="css/img/logo.png"
			alt="application logo">
		</a>
		<ul>
			<li><a th:href="@{/profilePatient.html}">Profil</a></li>
			<li><a th:href="@{/logout}">Wyloguj</a></li>
		</ul>
	</header>
	<aside>
		<div class="menu-trigger">Menu</div>
		<nav>
			<ul class="homeCheckList">

				<li><a th:href="@{/homeSymptoms.html}">Objawy</a></li>
				<li><a th:href="@{/patientExaminations.html}">Badania</a></li>
				<li><a th:href="@{/calendar.html}">Kalendarz</a></li>
				<li><a th:href="@{/homePatientDiagnosis.html}">Historia
						chorób</a></li>
				<li><a th:href="@{/homePatientMedicaments.html}">Leczenie</a></li>
			</ul>
		</nav>
	</aside>
	<main>
		<div>
			<p class="succes" th:if="${succes}==0">Pomyślnie dodano wizytę!
			
			<p class="error" th:if="${succes}==1">Nie udało się dodać
				wizyty, spróbuj ponownie!
		</div>
		<p class="empty" th:if="${#lists.isEmpty(dates)}" id="noAvaliable">Brak dostępnych
			terminów.</p>
		<section th:each="date: ${dates}">

			<h3 th:text="${date}"></h3>
			<form th:action="@{/addVisit/add}" th:object="${doctorC}"
				method="post"
				onsubmit="return confirm('Czy na pewno chcesz się zapisać do tego lekarza?');">
				<ul>
					<li th:each="dC, doctorC:${doctorCalendar}"
						th:if="${date}==${(dC.getDate().toLocalDate())}">
						<h4 th:text="${dC.getHour()}"></h4> <input type="hidden"
						id="visitDateList" th:value="${occupiedDates}">
						<p th:text="${doctorC.count}"
							th:utext="'typ wizyty: '+ ${dC.getVisitType().getName()}"></p> <input
						type="hidden" th:id="${doctorC.index}" name="${doctorC.index}"
						th:value="${dC.getDate()}">
						<p
							th:utext="'lekarz: ' + ${dC.getDoctor().getFirstName()} + ' ' + ${dC.getDoctor().getLastName()}"></p>
						<p th:utext="'placówka: ' + ${dC.getInstitution().getName()}"></p>
						<p
							th:utext="'adres: ' + ${dC.getInstitution().getAdress()} + ', ' + ${dC.getInstitution().getCity()}"></p>
						<div class="submit">
							<p class="check" th:utext="'Zarejestruj'" />
							<input class="button1" name="docorIdx" th:id="${doctorC.index}"
								type="submit" onclick="return searchHour(this.id)"
								th:value="${doctorC.index}">
						</div>
					</li>

				</ul>
			</form>
		</section>
	</main>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
		$(document).ready(function(click) {

			$(".menu-trigger").click(function() {

				$('nav').slideToggle();

			});

		});
	</script>
</body>

</html>